<div class='mt-4'>
  <h3>My trash courses</h3>
  <a href='/me/stored/courses'>Back to list</a>
  <table class='table'>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Course Name</th>
        <th scope='col'>Created Day</th>
        <th scope='col'></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope='row'>{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a
              class='btn btn-link btn-restore'
              data-id='{{this._id}}'
              id='{{this._id}}'
            >Restore</a>
            <a
              data-bs-toggle='modal'
              data-bs-target='#delete-course-modal'
              data-bs-id='{{this._id}}'
              class='btn btn-link'
            >Delete Immediately</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan='5' class='text-center'>Trash empty<a
              class='ms-2'
              style='color: blue;'
              href='/me/stored/courses/'
            >Back to list</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class='modal fade'
  id='delete-course-modal'
  tabindex='-1'
  aria-labelledby='exampleModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='exampleModalLabel'>Delete course</h1>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        Are you sure you want to delete immediately this course?
      </div>
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-secondary'
          data-bs-dismiss='modal'
        >Close</button>
        <button type='button' class='btn btn-danger' id='btn-delete'>Delete
          immediately</button>
      </div>
    </div>
  </div>
</div>

<form method='post' id='restoreForm'></form>
<form method='post' id='deleteCourseForm'></form>

<script>
  var restoreForm= document.forms["restoreForm"]; var btnReStore=
  document.querySelectorAll(".btn-restore"); for (var i = 0; i <
  btnReStore.length; i++) { btnReStore[i].addEventListener('click',
  function(event) { var courseId= this.id; restoreForm.action=
  "/course/"+courseId+"/restore"+"?_method=PATCH"; restoreForm.submit(); }); }
  var deleteCourseModal = document.getElementById('delete-course-modal'); var
  deleteForm = document.forms["deleteCourseForm"]; var courseId; var
  buttonDeleteCourse= document.getElementById("btn-delete");
  if(deleteCourseModal){ deleteCourseModal.addEventListener('show.bs.modal',
  function(event) { var button = event.relatedTarget; courseId =
  button.getAttribute('data-bs-id'); })} buttonDeleteCourse.onclick= function(){
  deleteForm.action= "/course/"+courseId+"/force"+"?_method=DELETE";
  deleteForm.submit();}
</script>